SERVER_ADDR=:18080

POSTGRES_HOST=localhost
POSTGRES_PORT=15432
POSTGRES_HOST_PORT=15432
POSTGRES_DB=nukon
POSTGRES_USER=nukon
POSTGRES_PASSWORD=nukon_password
POSTGRES_SSLMODE=disable

MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=ap-northeast-1
MINIO_BUCKET=nukon-images
MINIO_ROOT_USER=nukon_minio
MINIO_ROOT_PASSWORD=nukon_minio_password
MINIO_ACCESS_KEY_ID=nukon_minio
MINIO_SECRET_ACCESS_KEY=nukon_minio_password
MINIO_USE_PATH_STYLE=true

X_API_KEY=
